<div class="authentication">
	<div class="sign-in">
		<div class="row no-mrg-horizon">
			<div class="col-md-8 no-pdd-horizon d-none d-md-block">
				<div class="full-height bg" style="background-image: url('assets/images/others/img-29.jpg')">
				</div>
			</div>
			<div class="col-md-4 no-pdd-horizon">
				<div class="full-height bg-white height-100">
					<div class="vertical-align full-height pdd-horizon-70">
						<div class="table-cell">
							<div class="pdd-horizon-15">
								<h2>Iniciar Sesión</h2>
								<p class="mrg-btm-15 font-size-13">Ingresa tu usuario y contraseña</p>
								<form [formGroup]="loginFormGroup">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Nombre usuario" formControlName="username" required>
										<small *ngIf="loginFormGroup.get('username').hasError('required')" class="form-text text-muted">Es necesario un nombre de usuario.</small>
									</div>
									<div class="form-group">
										<input type="password" class="form-control" placeholder="Contraseña" formControlName="password" required>
										<small *ngIf="loginFormGroup.get('password').hasError('required')" class="form-text text-muted">Es necesario una contraseña.</small>
									</div>
									<button class="btn btn-info" [disabled]="loginFormGroup.invalid" (click)="login()">INGRESAR</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
