<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-heading border bottom">
                    <h4 class="card-title">Días de la semana</h4>
                </div>
                <div class="card-block">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-md-8 ml-auto mr-auto">
                                <form [formGroup]="WeekDayFormGroup">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Nombre</label>
                                                <input type="text" class="form-control" formControlName="name" placeholder="Nombre">
                                                <label *ngIf="WeekDayFormGroup.get('name').hasError('required')" class="error">El nombre es requerido.</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Nombre corto</label>
                                                <input type="text" class="form-control" formControlName="shortName" placeholder="Acronímo">
                                                <label *ngIf="WeekDayFormGroup.get('shortName').hasError('required')" class="error">El nombre corto es requerido.</label>
                                            </div>
                                        </div>
                                    </div>
                          
                                  
                                    <button type="submit" [class]="classBtn" [disabled]="WeekDayFormGroup.invalid" (click)="save()">{{ txtBtn }}</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  